.listNav {
  display: flex;
  padding: 0px 20px 0px 20px;
  align-items: center;
  justify-content: space-between;
}

.taskStatus {
  display: flex;
  /* align-items: center;
  justify-content: space-evenly; */
  padding: 20px;
  margin: 20px;
  border: 3px solid grey;
}

li {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  align-items: center;
  text-align: start;
  list-style: none;
  font-size: 1.4rem;
  background-color: bisque;
  padding: 5px 8px 5px 8px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 8px;
  word-break: break-word;
}

ul {
  /* padding-inline-start: 20px; */
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.check {
  padding: 2px;
  height: auto;
  width: 28px;
}
.delete {
  padding: 2px;
  height: auto;
  width: 28px;
}
.checked {
  padding: 2px;
  height: auto;
  width: 28px;
}

button {
  padding: 0px;
  border-radius: 5px;
  border: 2px solid black;
  /* margin: 0px 5px 0px 10px; */
  margin: 3px;
}

button:hover {
  cursor: pointer;
}
